<mat-card class="card-auth" fxLayout="column" fxLayoutAlign="center" fxLayoutGap.xs="0">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ 'GifChat' }}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image src="./images/pinguim-avatar.png" alt="Authentication">
    <div fxLayout="row">
      <div fxLayout="column" fxFlex="100%">
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="center">
      <button mat-button id="btnEnter" (click)="onBtnEnter()" fxLayout="column" fxLayoutAlign="center"
        fxFlex="100%">{{ 'Enter' }}</button>
    </div>
  </mat-card-actions>

</mat-card>

<div #messageBox></div>